/* =============== */
/* BASIC SETUP */
/* =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}
section {
    padding: 4rem 0;
}
/* heading */
h1 {
    font-size: 4.2rem;
}

:focus {
    outline: 0;

}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    margin-bottom: 2rem;
    color: #fff;
}

/*==========*/
/* Reusable Component */
/*==========*/
.row {
    max-width: 114rem;
    margin: 0 auto;
    overflow: hidden;
}

/* .box {
    padding: 1%;

} */

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
} */

/* button component */

.btn::link,
.btn::visited,
.btn {
    background: #333;
    border-bottom: 3px solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: 0.3rem;
    transition: 3s;
    display: inline-block;
    margin-top: 6rem;
    border-radius: 2rem;
}


header {
    background: url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 4rem;
   
}

.main-nav li {
    display: inline-block;
    margin-left: 3rem;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    font-size: 1.6rem;
}

.main-nav li a.active,
.main-nav li a:hover{
    background-color: #bfab94;
    padding: .4rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}
/* sticky menu adding */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, 0.9);
    z-index: 9999;  
}

/* Mobile Menu */
.mobile-menu span{
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    display: none;
    }
    .mobile-menu span:hover{
        cursor: pointer;
    }
    .overlay{
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        overflow-x: hidden;
        transition: .5s;
    }
    .overlay-content{
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
       
    }
    .overlay a{
        text-decoration: none;
        display: block;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing:.3rem;
        color: #999;
        padding: 1rem 0;
    }
    .overlay a:hover{
    color: #fff;
    }
    .overlay .closebtn{
        position: absolute;
        top: 0;
        right: 4.5rem;
        font-size: 6rem;
    }
    
    .sticky .mobile-menu span{
        margin: 0;
        line-height: 1;
    }

.hero-text-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
    display: inline-block;
    background: #998675;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .4rem;

}

/* Service section starts here */
.service-section {
    color: #000;
    text-align: center;
}

/* .box img {
    width: 5rem;
} */

.service-section p::after {
    content: "";
    display: block;
    height: .4rem;
    background-color: #000;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}
/* Service section ends here */

/* idea section starts here */


.idea-section{
    background-color: #fbfaf8;
}

.idea-heading{
    text-align: center;
    color: #000;
    margin-bottom: 2rem;
    max-width: 77rem;
    margin: auto;
}

.swiper-container {
    width: 100%;
  }
/* slider style */


  .swiper-slide img {
    display: block;
    max-width: 100%;
  }

  .theme{
      background: #211b19;
      color: #fff;
      text-align: center;
      height: 15rem;
  }
  h4{
      padding: 3rem;
  }
/* idea section ends here */

/* latest project */
.portfolio-section{
  text-align: center;
}
.portfolio-filter{
    margin: 4.5rem 0;
}
.portfolio-filter button{
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: #3c4761;
    margin: 0.5rem;
    transition: .5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem rgba(60, 71, 97, 0.5);
}
.portfolio-image{
    display: inline-block;
    width: 100%;
    height: auto;
}
.portfolio-section .col:nth-child(4){
    margin-left: 0;
}
.portfolio-section .btn-load-more{
    display: inline-block;
    line-height: 4.7rem;
    margin-top: 2rem;
    color: #fff;
    background: #998675;
    text-decoration: none;
    height: 4.7rem;
    width: 16.7rem;
}
.portfolio-section .mixitup-control-active{
    background: #fff;
}
.video-section{
    
    background: url(../img/video-pre-image.png);
    height: 85vh;
}
.video-icon{
    font-size: 6rem;
}
.video-section .video-icon{
    padding-top: 20rem;
    color: #fff;
    text-align: center;
}

.video-section .video-presentation{
    text-align: center;
    color: #fff;
}
.para{
 text-align: start;
 margin-left: 0;
 margin-top: 6rem;
}

/* .mobile-device ul li i{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    color: antiquewhite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */
.reviews{
    text-align: center;
    background: #4d3327;
    padding-top: 5rem;
    height: 50vh;
    color: #fff;

}
.reviews p::after{
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}
.recent-projects{
    text-align: center;
}
.recent-projects a{
    text-decoration: none;
    color: #dfd3c4;
}
.recent-projects .arrow-icon{
    color: #dfd3c4;
    margin-left: .4rem;
}
.our-partners{
    background: url(../img/BARBAR-BG.png);
    background-size: cover;
    
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 4rem;
}
.footer{
    padding-top: 5rem;
    background:#191919;
    height: 50vh;
    color: #fff;
}
.footer .arrow-icon{
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-top: 7rem;
}
.copyright{
    background: #111111;
    align-items: center;
    color: #fff;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
}
/* .center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */