/* =============== */
/* BASIC SETUP */
/* =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}
section {
    padding: 8rem 0;
}
/* heading */
h1 {
    font-size: 4.2rem;
}

:focus {
    outline: 0;

}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    margin-bottom: 2rem;
    color: #fff;
}

/*==========*/
/* Reusable Component */
/*==========*/
.row {
    max-width: 114rem;
    margin: 0 auto;
    overflow: hidden;
}

/* .box {
    padding: 1%;

} */

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
} */

/* button component */

.btn::link,
.btn::visited,
.btn {
    background: #333;
    border-bottom: 3px solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: 0.3rem;
    transition: 3s;
    display: inline-block;
    margin-top: 6rem;
    border-radius: 2rem;
}


header {
    background: url(../img/bg-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 4rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 3rem;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    font-size: 1.6rem;
}

.main-nav li a.active,
.main-nav li a:hover{
    background-color: #bfab94;
    padding: .4rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

.hero-text-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
    display: inline-block;
    background: #998675;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .4rem;

}

/* Service section starts here */
.service-section {
    color: #000;
    text-align: center;
}

.box img {
    width: 5rem;
}

.service-section p::after {
    content: "";
    display: block;
    height: .4rem;
    background-color: #000;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}
/* Service section ends here */

/* idea section starts here */


.idea-section{
    background-color: #fbfaf8;
}

.idea-heading{
    text-align: center;
    color: #000;
    margin-bottom: 2rem;
    max-width: 77rem;
    margin: auto;
}

.swiper-container {
    width: 100%;
  }
/* slider style */


  .swiper-slide img {
    display: block;
    max-width: 100%;
  }

  .theme{
      background: #211b19;
      color: #fff;
      text-align: center;
      height: 15rem;
  }
  h4{
      padding: 3rem;
  }
/* idea section ends here */

/* latest project */
.latest-projects{
  text-align: center;
}

